@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS';
  background-color: gray;
}
body{
  padding:20px;
}
ul{
  list-style-type: none;
}
a{
    text-decoration: none;
  color: black;
}
a:hover{
  color: green;
}